/* .element{
    width: 50%;
    height: 100px;
    background-color: aqua;
}
.child{
    width: 50%;
    background-color: blueviolet;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: brown;

} */

body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
.parent{
    width: 100%;
    height: 500px;

}
.child{
    width:25%;
    height: 300px;
    float: left;

}
.child-one{
    background-color: black;
}
.child-two{
    background-color: brown;
}
.child-three{
    background-color: blue;
}
.child-four{
    background-color: blueviolet;
}